@page
@model Eppendorf_CRUD_Frontend.Pages.DevicePages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Health)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].LastUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Devices[0].ColorHexValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Devices) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Model.GetTypeName(item.TypeId)
            </td>
            <td>
               @Model.GetHealthName(item.HealthId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColorHexValue)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
